span.babolecheck {
  margin: 5px;
}

.babo-checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
  margin-right: 10px;
  margin-bottom: -2px;
}

.babo-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.babo-checkbox-label .babo-checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 1px solid #dddddd;
}

.babo-checkbox-label input:checked ~ .babo-checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 1px solid #dddddd;
}

.babo-checkbox-label .babo-checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.babo-checkbox-label input:checked ~ .babo-checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

span.babolecheck label {
  margin: 3px 10px;
}

span.babolecheck b,
span.babolecheck a {
  margin: 0 5px;
}

.babolecheck .babo-checkbox-label input.disabled ~ .babo-checkbox-custom {
  opacity: 0.5;
}

.babolecheck .babo-checkbox-label input.disabled:before,
.babolecheck .babo-checkbox-label input.disabled {
  visibility: hidden;
  border: none !important;
}

@-webkit-keyframes keeprotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes keeprotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.toplevel_page_backup-bolt #wpwrap {
  background: #fff !important;
}

div#babo-wrapper {
  width: 95%;
  margin: 60px auto;
}

.babo-sub-wrapper {
  padding: 20px;
  background: #fff;
}

div#babo-form-wrapper {
  text-align: center;
  margin: 20px 0;
}

div#babo-log {
  margin-top: 40px;
  font-size: 24px;
  line-height: 35px;
  color: #666;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
}
div#babo-log.running {
  background: #f5f5f5;
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #eee;
  font-size: 15px;
  text-align: left;
  padding: 20px;
}

button#babo-backup-now,
#babo-start-backup {
  margin-top: 30px;
  font-size: 24px;
  padding: 12px 25px;
  line-height: 1.5em;
  border: none;
  background: #FF5722;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
button#babo-backup-now.active,
#babo-start-backup.active {
  background: #888 !important;
  cursor: no-drop;
}

div#babo-submit-wrapper {
  text-align: center;
}

button#babo-backup-now .dashicons,
#babo-confirm-backup-start .dashicons {
  margin: 2px 15px 0 5px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#babo-abort-backup {
  margin-top: 30px;
  font-size: 24px;
  padding: 12px 25px;
  line-height: 1.5em;
  border: none;
  background: #ccc;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button#babo-backup-now:hover,
#babo-start-backup:hover {
  background: #FF5722;
}

.babo-checkboxes span.babolecheck {
  min-width: 250px;
}

#babo-form-wrapper .dashicons-update {
  font-size: 30px;
  width: 0px;
  overflow: hidden;
  height: 40px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: keeprotating 1s linear infinite forwards;
          animation: keeprotating 1s linear infinite forwards;
  line-height: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.babo-rotate {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: keeprotating 1s linear infinite forwards;
          animation: keeprotating 1s linear infinite forwards;
}

#babo-confirm-backup-start {
  display: none;
}

.babo-checkboxes {
  width: 50%;
}

div#babo-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.babo-checkboxes div {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 20px;
}

span.babolecheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

div#babo-form-wrapper h3 {
  background: #eee;
  margin-top: 0;
  padding: 25px 0;
}

.babo-checkboxes.babo-full-wp h3 {
  background: #FF5722 !important;
  color: #fff;
}

.babo-checkboxes:not(.babo-full-wp) {
  border-right: 1px solid #ddd;
}

p.babo-last-backup a {
  color: #ff5722;
  font-weight: bold;
}

div#babo-logo-wrapper {
  text-align: center;
  margin-bottom: 60px;
}

/** 1.1.3 **/
.babo-review-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.babo-review-box p {
  font-size: 16px;
  margin-top: 0;
  padding: 2px 0;
}

.babo-review-box strong {
  font-size: 17px;
  margin: 7px 0 5px;
  display: block;
}

.babo-review-box img {
  border-radius: 50%;
}

.babo-review-box img {
  float: left;
  margin-right: 10px;
  max-width: 60px;
}

.babo-admin-review {
  padding: 10px 15px 15px;
}

a.baborevbtn {
  background: #eee;
  text-decoration: none;
  padding: 7px 13px;
  margin-right: 7px;
  border-radius: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.babo-lets-review.baborevbtn {
  background: #0073aa;
  color: #fff;
}/*# sourceMappingURL=main.css.map */