span.babolecheck {
  margin: 5px;
}

.babo-checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
  margin-right: 10px;
  margin-bottom: -2px;
}

.babo-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.babo-checkbox-label .babo-checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 1px solid #dddddd;
}


.babo-checkbox-label input:checked~.babo-checkbox-custom {
  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 1px solid #dddddd;
}


.babo-checkbox-label .babo-checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009BFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.babo-checkbox-label input:checked~.babo-checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

span.babolecheck label {
  margin: 3px 10px;
}

span.babolecheck b,
span.babolecheck a {
  margin: 0 5px;
}

.babolecheck .babo-checkbox-label input.disabled~.babo-checkbox-custom {
  opacity: 0.5;
}

.babolecheck .babo-checkbox-label input.disabled:before,
.babolecheck .babo-checkbox-label input.disabled {
  visibility: hidden;
  border: none !important;
}